.selected {
  background-color: rgb(108 117 125);  /*dark mode*/
  background-color: rgb(204 204 204); /*light mode*/
  border-radius: 5px;
}
.sidebar-list > div {
  border-radius: 5px;
}
.sidebar-list > div:hover {
  background-color: rgb(108 117 125); /*dark mode*/
  background-color: rgb(204 204 204); /*light mode*/
  cursor: pointer;
}

#user-profile-pic {
  width: 50;
  margin-right: 3%;
}

#sidebar {
  width: 18%;
}

#content-area {
  width: 82%;
}
